<h1 style="color: purple;">Dominican Republic</h1>
<ol class="body">
<body>
<app-bottombutton></app-bottombutton>
<img src= "/assets/dominican map.png" height="350" width="550">



<ol class="body">
  <li id="top"><a href="https://en.wikipedia.org/wiki/Azua,_Dominican_Republic">Azua</a></li>
      <ul>
         <li>Senator: Lia Ynocencia Diaz</li>
         <li>Population: 222,610</li>
         <li>Coat of Arms:</li><img src= "/assets/azua 2.gif" height="80" width="100">
         
      </ul>
  <li><a href="https://en.wikipedia.org/wiki/Baoruco_Province">Baoruco</a></li>
      <ul>
         <li>Senator: Melania Salvador </li>
         <li>Population: 101,306</li>
         <li>Coat of Arms:</li><img src= "/assets/baoruco.png" height="80" width="100">
      </ul>
  <li><a href="https://en.wikipedia.org/wiki/Barahona,_Dominican_Republic">Barahona</a></li>
      <ul>
         <li>Senator: Jose del Castillo</li>
         <li>Population: 189,1000</li>
         <li>Coat of Arms:</li><img src= "/assets/Barahona.png" height="80" width="100">
      </ul>
  <li><a href="https://en.wikipedia.org/wiki/Dajab%C3%B3n_Province">Dajabon</a></li>
      <ul>
         <li>Senator: David Sosa</li>
         <li>Population: 66,675</li>
         <li>Coat of Arms:</li><img src= "/assets/Escudo_de_la_Provincia_Dajabón.png" height="80" width="100">
      </ul>
  <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Duarte">Duarte</a></li>
     <ul>
         <li>Senator: Franklin Romero</li>
         <li>Population: 299,583</li>
         <li>Coat of Arms:</li><img src= "/assets/Escudo_de_la_Provincia_Duarte.png" height="80" width="100">
      </ul>
  <li><a href="https://es.wikipedia.org/wiki/El_Seibo">El Seibo</a></li>
      <ul>
         <li>Senator: Santiago Zorrilla</li>
         <li>Population: 94,049</li>
         <li>Coat of Arms:</li><img src= "/assets/Escudo_de_la_Provincia_El_Seibo.svg.png" height="80" width="100">
     </ul>
  <li><a href="https://es.wikipedia.org/wiki/Provincia_de_El%C3%ADas_Pi%C3%B1a">Elias Pina</a></li>
      <ul>
         <li>Senator: Aris Yvan Lorenzo</li>
         <li>Population: 63,303</li>
         <li>Coat of Arms:</li><img src= "/assets/Escudo_de_la_Provincia_Elías_Piña.png" height="80" width="100">
     </ul>
  <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Espaillat">Espaillat</a></li>
      <ul>
         <li>Senator: Carlos Gomez</li>
         <li>Population: 240,428</li>
         <li>Coat of Arms:</li><img src= "/assets/Escudo_de_la_Provincia_Espaillat.png" height="80" width="100">
     </ul>
  <li><a href="https://es.wikipedia.org/wiki/Hato_Mayor">Hato Mayor</a></li>
     <ul>
         <li>Senator: Cristobal Venerado</li>
         <li>Population: 85,747</li>
         <li>Coat of Arms:</li><img src= "/assets/Escudo_de_la_Provincia_Hato_Mayor.png" height="80" width="100">
     </ul>
  <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Hermanas_Mirabal">Hermanas Mirabal</a></li>
      <ul>
        <li>Senator: Bautista Rojas</li>
        <li>Population: 92,045</li>
        <li>Coat of Arms:</li><img src= "/assets/Escudo_de_la_Provincia_Hermanas_Mirabal.png" height="80" width="100">
    </ul>
  <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Independencia">Independencia</a></li>
       <ul>
         <li>Senator: Valentin Medrano</li>
         <li>Population: 58,951</li>
         <li>Coat of Arms:</li><img src= "/assets/Escudo_de_la_Provincia_Independencia.png" height="80" width="100">
      </ul>
  <li><a href="https://es.wikipedia.org/wiki/Provincia_de_La_Altagracia">La Altagracia</a></li>
       <ul>
         <li>Senator: Virgilio Cedano</li>
         <li>Population: 360,874</li>
         <li>Coat of Arms:</li><img src= "/assets/Escudo_de_la_Provincia_La_Altagracia.png" height="80" width="100">
      </ul>
  <li><a href="https://es.wikipedia.org/wiki/Provincia_de_La_Romana">La Romana</a></li>
       <ul>
         <li>Senator: Ivan Fernandez</li>
         <li>Population: 274,894</li>
         <li>Coat of Arms:</li><img src= "/assets/Escudo_de_la_Provincia_La_Romana.svg.png" height="80" width="100">
       </ul>
  <li><a href="https://es.wikipedia.org/wiki/La_Vega_(Rep%C3%BAblica_Dominicana)">La Vega</a></li>
       <ul>
         <li>Senator: Ramon Duran</li>
         <li>Population: 412,469</li>
         <li>Coat of Arms:</li><img src= "/assets/Escudo_de_la_Provincia_La_Vega.png" height="80" width="100">
       </ul>
  <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Mar%C3%ADa_Trinidad_S%C3%A1nchez">Maria Trinidad Sanchez</a></li>
       <ul>
         <li>Senator: Alexis Victoria</li>
         <li>Population: 140,954</li>
         <li>Coat of Arms:</li><img src= "/assets/Escudo_de_la_Provincia_María_Trinidad_Sánchez.png" height="80" width="100">
       </ul>
  <li><a href="https://en.wikipedia.org/wiki/Monse%C3%B1or_Nouel_Province">Monsenor Nouel</a></li>
       <ul>
         <li>Senator: Hector Acosta</li>
         <li>Population: 174,959</li>
        <li>Coat of Arms:</li><img src= "/assets/Escudo_de_la_Provincia_Monseñor_Nouel.png" height="80" width="100">
       </ul>
  <li><a href="https://en.wikipedia.org/wiki/Monte_Cristi_Province">Monte Cristi</a></li>
        <ul>
         <li>Senator: Ramon Pimentel</li>
         <li>Population: 117,736</li>
         <li>Coat of Arms:</li><img src= "/assets/Escudo_de_la_Provincia_Monte_Cristi.png" height="80" width="100">
        </ul>
  <li><a href="https://en.wikipedia.org/wiki/Monte_Plata_Province">Monte Plata</a></li>
        <ul>
          <li>Senator: Lenin Valdez</li>
          <li>Population: 191,447</li>
          <li>Coat of Arms:</li><img src= "/assets/Escudo_de_la_Provincia_Monte_Plata.png" height="80" width="100">
        </ul>
  <li><a href="https://en.wikipedia.org/wiki/Pedernales_Province">Pedernales</a></li>
        <ul>
          <li>Senator: Dionis Sanchez</li>
          <li>Population: 35,280</li>
          <li>Coat of Arms:</li><img src= "/assets/Escudo_de_la_Provincia_Pedernales.png" height="80" width="100">
        </ul>
  <li><a href="https://en.wikipedia.org/wiki/Peravia_Province">Peravia</a></li>
        <ul>
          <li>Senator: Milciades Franjul</li>
          <li>Population: 198,499</li>
          <li>Coat of Arms:</li><img src= "/assets/Escudo_de_la_Provincia_Peravia.png" height="80" width="100">
        </ul>
  <li><a href="https://en.wikipedia.org/wiki/Puerto_Plata,_Dominican_Republic">Puerto Plata</a></li>
        <ul>
          <li>Senator: Ginnette Bournigal</li>
          <li>Population: 333,940</li>
          <li>Coat of Arms:</li><img src= "/assets/Escudo_de_la_Provincia_Puerto_Plata.svg.png" height="80" width="100">
        </ul>
  <li><a href="https://en.wikipedia.org/wiki/Saman%C3%A1_Province">Samana</a></li>
        <ul>
          <li>Senator: Pedro Catrain</li>
          <li>Population: 113,036</li>
          <li>Coat of Arms:</li><img src= "/assets/Escudo_de_la_Provincia_Samaná.svg.png" height="80" width="100">
        </ul>
  <li><a href="https://en.wikipedia.org/wiki/San_Crist%C3%B3bal,_Dominican_Republic">San Cristobal</a></li>
        <ul>
          <li>Senator: Franklin Rodriguez</li>
          <li>Population: 643,595</li>
          <li>Coat of Arms:</li><img src= "/assets/Escudo_de_la_Provincia_San_Cristóbal.png" height="80" width="100">
        </ul>
  <li><a href="https://en.wikipedia.org/wiki/San_Jos%C3%A9_de_Ocoa_Province">San Jose de Ocoa</a></li>
        <ul>
          <li>Senator: Jose Castillo</li>
          <li>Population: 53,833</li>
          <li>Coat of Arms:</li><img src= "/assets/Escudo_de_la_Provincia_San_José_de_Ocoa.png" height="80" width="100">
        </ul>
  <li><a href="https://en.wikipedia.org/wiki/San_Juan_Province_(Dominican_Republic)">San Juan</a></li>
       <ul>
         <li>Senator: Felix Bautista</li>
         <li>Population: 220,264</li>
         <li>Coat of Arms:</li><img src= "/assets/Escudo_de_la_Provincia_San_Juan.svg.png" height="80" width="100">
       </ul>
  <li><a href="https://en.wikipedia.org/wiki/San_Pedro_de_Macor%C3%ADs_Province">San Pedro de Macoris</a></li>
       <ul>
         <li>Senator: Franklin Pena</li>
         <li>Population: 306,002</li>
         <li>Coat of Arms:</li><img src= "/assets/Escudo_de_la_Provincia_San_Pedro_de_Macorís.png" height="80" width="100">
       </ul>
  <li><a href="https://en.wikipedia.org/wiki/S%C3%A1nchez_Ram%C3%ADrez_Province">Sanchez Ramirez</a></li>
        <ul>
         <li>Senator: Ricardo de los Santos</li>
         <li>Population: 151,888</li>
         <li>Coat of Arms:</li><img src= "/assets/Escudo_de_la_Provincia_Sánchez_Ramírez.png" height="80" width="100">
        </ul>
  <li><a href="https://en.wikipedia.org/wiki/Santiago_Province_(Dominican_Republic)">Santiago</a></li>
        <ul>
         <li>Senator: Eduardo Estrella</li>
         <li>Population: 1,052,088</li>
         <li>Coat of Arms:</li><img src= "/assets/Escudo_de_la_Provincia_Santiago.svg.png" height="80" width="100">
        </ul>
  <li><a href="https://en.wikipedia.org/wiki/Santiago_Rodr%C3%ADguez_Province">Santiago Rodriguez</a></li>
        <ul>
         <li>Senator: Casimiro Marte</li>
         <li>Population: 57,209</li>
         <li>Coat of Arms:</li><img src= "/assets/Escudo_de_la_Provincia_Santiago_Rodríguez.png" height="80" width="100">
        </ul>

  <li><a href="https://en.wikipedia.org/wiki/Valverde_Province">Valverde</a></li>
        <ul>
         <li>Senator: Eddy Nolasco</li>
         <li>Population: 177,865</li>
         <li>Coat of Arms:</li><img src= "/assets/Escudo_del_Municipio_Mao.svg.png" height="80" width="100">
        </ul>
  <li><a href="https://en.wikipedia.org/wiki/Distrito_Nacional" id="bottom"> Distrito Nacional</a></li>
       <ul>
         <li>Senator: Antonio Taveras</li>
         <li>Population: 2,955,339</li>
         <li>Coat of Arms:</li><img src= "/assets/Escudo_de_la_Provincia_Distrito_Nacional.png" height="80" width="100">
        </ul>
  <app-topbutton></app-topbutton>    

</ol>
</body>