.body{
    background-color: cornflowerblue;
    font-family: 'arial';
}

h1{
    font-family: 'monaco', Times, serif;
}

/* The fonts used were Arial and Times New Roman. The color black for the text and cornflowerblue for the background*/